body {
    background-color: #f0f2f5;
    box-sizing: border-box;
}

.login {
    width: 100%;
    max-width: 1048px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

.error {
    margin-bottom: 10px;
    color: red;
    display: flex;
    justify-content: center;
}

.success {
    color: blue;
}

.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    height: calc(100vh - 280px);
}

.loginLeft {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
    padding-right: 40px;
}

.loginRight {
    flex: 4;
}

.loginBox {
    height: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.loginInput {
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 18px;
    padding: 0 18px;
    margin-bottom: 20px;
}

.loginInput:focus {
    outline: 1px solid #1775ee;
}

.loginButton {
    background-color: #1775ee;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 5px;
    opacity: 0.95;
    cursor: pointer;
}

.loginButton:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.loginForgot {
    font-size: 14px;
    line-height: 19px;
    color: #1877f2;
    margin: 14px auto;
    cursor: pointer;
}

.loginForgot:hover {
    text-decoration: underline;
}

.loginHr {
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.22);
    margin: 5px 0;
}

.loginRegisterButton {
    width: max-content;
    font-size: 17px;
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    background-color: rgb(20, 199, 20, 0.95);
    color: white;
    font-weight: 600;
    margin: 30px 0 10px 0;
    transform: translateX(50%);
    cursor: pointer;
}

.loginRegisterButton:hover {
    background-color: rgb(20, 199, 20, 1);
    transition: all 0.2s ease-in-out;
}

.loginCreatePage {
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}

.register {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    display: flex;
    flex-direction: column;
}

.registerTop {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.registerHr {
    margin-bottom: 10px;
    opacity: 0.5;
}

.signupTitle {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
}

.registerIcon {
    cursor: pointer;
}

.signupDesc {
    color: #606770;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.registerForm {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.registerInput {
    padding: 10px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: #1c1e21;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.03);
    margin-bottom: 10px;
}

.registerInputName {
    display: flex;
    justify-content: space-between;
}

.registerInput:focus {
    outline: none;
}

.registerInputName .registerInput:first-child {
    margin-right: 10px;
}

.registerButton {
    width: max-content;
    transform: translateX(50%);
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    margin: 10px 20px 20px 20px;
    background-color: rgba(20, 185, 20, 0.9);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.registerButton:hover {
    transition: all 0.2s ease-in-out;
    background-color:rgba(20, 185, 20, 1);
}